th {
  padding-right: 50px;
}

th {
  padding-right: 100px;
}

body {
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding:50px;
  display: flex;
  background-clip: whitesmoke;
  font-family: MarkOT,Arial,Helvetica,sans-serif;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.item {
  background-color:#09265a;
  padding: 8px 0 24px;
  width: 100%;
  color: #fff;
}

img {
  float:right;
  width:200px;
}

.form-row {
  display: flex;
  flex-wrap: wrap;
}

#doctorName {
  display: none;
}

.btn-info {
  border-radius: 25px;
}

#searchDoctorName {
  background: none!important;
  border: none;
  padding: 0!important;
  font-family: arial, sans-serif;
  color: #069;
  text-decoration: underline;
  cursor: pointer;
}

#searchIssue {
    background: none!important;
    border: none;
    padding: 0!important;
    font-family: arial, sans-serif;
    color: #069;
    text-decoration: underline;
    cursor: pointer;
}
