th {
  padding-right: 50px;
}

th {
  padding-right: 100px;
}

body {
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding:50px;
  display: flex;
  background-clip: whitesmoke;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

img {
  float:right;
  width:200px;
}

.form-row {
  display: flex;
  flex-wrap: wrap;
}

.locationDoctor {
  display: none;
}

.doctorName {
  display: none;
}

#searchDoctorName {
  background: none!important;
  border: none;
  padding: 0!important;
  font-family: arial, sans-serif;
  color: #069;
  text-decoration: underline;
  cursor: pointer;
}

#searchIssue {
    background: none!important;
    border: none;
    padding: 0!important;
    font-family: arial, sans-serif;
    color: #069;
    text-decoration: underline;
    cursor: pointer;
}
